.container {
  margin: 50px 0;
}


.infected {
  border-bottom: 10px solid orange;
  opacity: 50%;
  margin: 0 1% !important;
}
.recovered {
  border-bottom: 10px solid green;
  opacity: 50%;
  margin: 0 1% !important;
}
.deaths {
  border-bottom: 10px solid red;
  opacity: 50%;
  margin: 0 1% !important;
}

.infected:hover,
.recovered:hover,
.deaths:hover {
  opacity: 100%;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
